.products__container {
  .container-mobile();
}

.products__list {
  .list-style();
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.product {
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
  
  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.product__link {
  text-decoration: none;
}

.product__img {
  max-width: 100%;
  height: auto;
}

.product__info {
  box-sizing: border-box;
  margin-top: -3px;;
  padding-top: 26px;
  padding-left: 27px;
  padding-right: 28px;
  border: 1px solid #ececec;
}

.product__title {
  display: block;
  margin-bottom: 5px;
  font-family: "Open Sans", "Aria", sans-serif;
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.05px;
  text-align: left;
  color: #000000;
}

.product__description {
  display: block;
  box-sizing: border-box;
  margin-bottom: 21px;
  padding-bottom: 19px;
  font-family: "Open Sans", "Aria", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  text-align: left;
  color: #444444;
  border-bottom: 1px solid #ececec;
}

.product__price {
  display: block;
  margin-bottom: 27px;
  font-family: "Open Sans", "Aria", sans-serif;
  font-weight: 800;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  background: url("../../img/icon-cart-catalog.svg") no-repeat 100% 50%;
}

@media (min-width: @tablet-width) { 
  
  .products {
    .container-tablet();
  }
  
  .products__list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
  }
  
  .product {
    display: flex;
  }
  
  .product__link {
    display: flex;
    align-items: stretch;
  }
  
  .product__img {
	  width: 50%;
}
  
  .product__info {
	  display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 0;
  }
  
  .product__description {
	  margin-top: auto;
  }
  
  .product__price {
	  margin-top: auto;
  }
}