.contacts {
  margin-top: 40px;
  margin-bottom: 40px;
}

.contacts__info {
  .container-mobile();
  position: relative;

  &::after {
    position: absolute;
    right: 3px;
    top: -17px;
    content: "";
    display: none;
    width: 47px;
    height: 81px;
    background: url("../../img/icon-flag.svg") no-repeat 0 0;
  }
}

.contacts__title {
  margin-top: 1px;
  margin-bottom: 27px;
  margin-left: -2px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__table {
  width: 100%;
  margin-bottom: 8px;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
  color: #444444;
}

.contacts__table-property {
  min-width: 75px;
  padding: 0;
  vertical-align: top;
}

.contacts__table-description {
  padding-top: 0;
  padding-bottom: 29px;
  min-width: 185px;
}

.contacts__email {
  display: inline-block;
  border-bottom: 1px solid #46c1ae;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
    border-bottom: 1px solid rgba(70, 193, 174, 0.3);
  }
}

.contacts__map {
  position: relative;
  margin: 0 auto;
  text-align: center;

  &::before {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: translate(15%, -50%);
    content: "";
    width: 67px;
    height: 100px;
    background: url("../../img/icon-map-pin.svg") no-repeat;
  }
}

.contacts__map-img {
  width: 320px;
  height: auto;
  margin-bottom: 39px;
}

.contacts__button {
  max-width: 260px;
  margin: 0 auto;
  line-height: 18px;
  letter-spacing: 1px;
}

@media (min-width: @tablet-width) {
  .contacts {
    margin-bottom: 55px;
  }

  .contacts__info {
    width: auto;
    margin: 0;
    margin-bottom: 27px;
    .container-tablet();
    &::after {
      display: block;
    }
  }

  .contacts__title {
    margin-left: -5px;
    margin-bottom: 48px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__table {
    font-size: 17px;
    tbody {
      display: flex;
    }
  }

  .contacts__table-row {
    width: 50%;
  }

  .contacts__table-description {
    br:nth-of-type(2) {
      display: none;
    }
  }

  .contacts__map-img {
    width: auto;
    max-width: 100%;
    margin-top: 19px;
    margin-bottom: 52px;
  }

  .contacts__button {
    .container-tablet();
    max-width: 230px;
    min-width: 230px;
    margin: 0 auto;
    letter-spacing: 0.2px;
  }
}

@media (min-width: @desktop-width) {

  .contacts {
    margin-bottom: 104px;
  }

  .contacts__container {
    .container-desktop();
    position: relative;
  }

  .contacts__info {
    display: flex;
    flex-direction: column;
    margin-left: 16.67%;
    order: 1;
    &::after {
      position: absolute;
      left: -110px;
      top: -10px;
    }
  }

  .contacts__title {
    margin-top: -2px;
    font-size: 53px;
    line-height: 57px;
    letter-spacing: 0.01px;
  }

  .contacts__table {
    margin-bottom: 50px;
    tbody {
      display: block;
    }
  }

  .contacts__button {
    margin-left: 16.67%;
    order: 2;
  }

  .contacts__map {
    position: absolute;
    top: -91px;
    right: 0;
  }
}
