.contacts {
  margin-top: 40px;
  margin-bottom: 40px;
}

.contacts__info {
  .container();
}

.contacts__title {
  margin-top: 1px;
  margin-bottom: 27px;
  margin-left: -2px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__table {
  width: 100%;
  margin-bottom: 9px;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
}

.contacts__table-property {
  min-width: 75px;
  padding: 0;
  vertical-align: top;
}

.contacts__table-description {
  padding-top: 0;
  padding-bottom: 29px;
  min-width: 185px;
}

.contacts__email {
  display: inline-block;
  border-bottom: 1px solid #46c1ae;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
    border-bottom: 1px solid rgba(70, 193, 174, 0.3);
  }
}

.contacts__map {
  width: 100%;
  height: auto;
  margin-bottom: 38px;
}

.contacts__button {
  .container();
  letter-spacing: 0.6px;
  line-height: 18px;
}
