.description {
  min-height: 180px;
  font-size: 19px;
  line-height: 24px;

  &--main-page {
    padding-top: 30px;
    background: url("../../img/hero-mobile@1x.jpg") no-repeat 50% -20px;
  }
}

.description__title {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 176px; 
  margin: 0;
  margin-left: -2px;
  padding: 30px;
  padding-top: 70px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;

  &--main-page {
    min-height: auto;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 40px;
    background-color: transparent;
  }
}

.description__list {
  .list-style();
  margin-top: 91px;
}

.description__item {
  min-height: 103px;

  &--products {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.description__link {
  display: block;
  margin: 0;
  padding-top: 26px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 29px;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
  
  span {
    display: block;
    width: 130px;
  }
}
