.description {
  min-height: 170px;
  font-size: 19px;
  line-height: 24px;
  background: none;
  background-color: #f1f1f1;

  &--main-page {
    min-height: 180px;
    background-color: #f9f9f9;
    background-image: url("../img/hero-mobile@1x.jpg") no-repeat center -18px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: 575px auto;
      background-position: 50% -18px;
    }

    .description__info {
      margin-bottom: 0;
      padding-top: 0;
    }
  }
}

.description__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.description__menu {
  .list-style();
  display: none;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  text-align: left;
  color: #000000;

  .description__menu-link {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-right: 33px;
    padding-right: 30px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.description__comment {
  display: none;
  margin: 5px 0;
  font-family: "Open Sans", "Aria", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.description__title {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 176px;
  margin: 0;
  margin-left: -2px;
  padding: 30px;
  padding-top: 70px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.description__list {
  .list-style();
  margin-top: 94px;
}

.description__item {
  height: 100%;

  &--products {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;

    .description__link {
      padding-right: 25px;
    }
  }
}

.description__link {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 19px;
  padding-right: 35px;
  padding-left: 29px;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;

  &:hover {
    .description__svg {
      opacity: 0.7;
    }
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    .description__svg {
      opacity: 0.3;
    }
  }

  span {
    display: block;
    width: 130px;
    padding-top: 3px;
  }

  .description__svg {
    fill: #149080;
    opacity: 0.5;
  }
}

@media (min-width: @tablet-width) {

  .description {
    padding-top: 10px;

    .description__title{
      padding-top: 48px;
    }

    &--main-page {
      padding-top: 0;
      background: #f9f9f9 url("../img/hero-tablet@1x.jpg") no-repeat 50% 0;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
        background-size: 1150px auto;
      }

      .description__info {
        margin-bottom: 45px;
      }

      .description__comment {
        margin-top: 5px;
        padding-top: 10px;
      }

      .description__title{
        width: 600px;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 343px;
        letter-spacing: 0.2px;
      }
    }
  }

  .description__container {
    .container-tablet();
  }

  .description__comment {
    display: block;
    margin-left: auto;
  }

  .description__title {
    font-size: 43px;
    line-height: 50px;

    br {
      display: none;
    }
  }

  .description__list {
    display: flex;
  }

  .description__item {
    width: 50%;
    min-height: 119px;

    &--toys {
      .description__svg {
        padding-right: 10px;
      }
    }
  }

  .description__link {
    font-size: 20px;
    line-height: 30px;
    padding-top: 28px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;

    span {
      padding: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .description {
    padding-top: 0;

    &--main-page {
      background: #f9f9f9 url("../img/hero-desktop@1x.jpg") no-repeat 50% 0;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
        background-size: 1150px auto;
      }

      .description__title--main-page {
        width: 700px;
        margin: 0 auto;
        margin-top: 95px;
        margin-bottom: 330px;
        font-size: 53px;
        line-height: 57px;
      }

      .description__info {
        align-items: flex-start;
        margin-bottom: 43px;
      }

      .description__menu-link {
        padding-top: 18px;
      }

      .description__comment {
        margin-top: 18px;
        padding-top: 0;
      }
    }

    .description__title {
      width: 700px;
      min-height: 160px;
      margin: 0 auto;
      margin-top: 33px;
      padding-top: 0px;
      font-size: 53px;
      line-height: 57px;
    }

    .description__title--main-page {
      width: 700px;
      margin: 0 auto;
      margin-top: 95px;
      margin-bottom: 310px;
      font-size: 53px;
      line-height: 57px;
    }
  }

  .description__container {
    .container-desktop();
  }

  .description__info {
    min-height: 60px;
    padding: 0;
  }

  .description__menu {
    display: flex;
  }

  .description__comment {
    margin-top: 5px;
    padding-top: 0;
  }
}
