.description {
  min-height: 180px;
  font-family: inherit;
  font-weight: inherit;
  font-size: 19px;
  line-height: 24px;
  color: inherit;

  &--main-page {
    background: url(../../img/hero-mobile@1x.jpg) no-repeat 50% -50px;
  }
}

.description__title {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 300px;
  min-height: 175px;
  margin-top: 0;
  padding: 0 30px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;

  &--main-page {
    background-color: transparent;
  }
}

.description__list {
  margin: 0;
  margin-top: 100px;
  padding-left: 0;
  list-style: none;
}

.description__item {
  min-height: 103px;

  &--products {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.description__link {
  display: inline-block;
  width: 130px;
  padding-top: 30px;
  text-decoration: none;
  color: #ffffff;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
