.filters__comment {
  margin-bottom: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #444444;
}

.filters__button {
  width: 100%;
  min-height: 52px;
  line-height: 15px;
}

@media (min-width: @tablet-width) {
  .filters__bottom {
    .container-tablet();
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
  }

  .filters__comment {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
    order: 2;
  }

  .filters__button {
    min-width: inherit;
    width: 230px;
  }
}

@media (min-width: @desktop-width) {

  .filters__bottom {
    .container-desktop();
    width: 700px;
    margin: 0 auto;
  }
}
