.filters {
  margin-bottom: 55px;
}

.filters__button {
  width: 100%;
}

.filter {
  padding: 0;
  border: none;
}

.filter__title {
  margin-bottom: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 800;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
  color: #63d1bb;
}

.filter__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.filter__item {
  min-height: 50px;
}

.filter__label {
  display: block;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 800;
  font-size: 17px;
  line-height: 18px;
  text-align: left;
  color: #000000;

  &--check {
    padding-left: 60px;
  }

  &--text {
    margin-bottom: 10px;
    padding-top: 20px;
  }
}

.filters__comment {
  margin-bottom: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #444444;
}

.filter__input--text,
.filter__textarea {
  width: 100%;
  min-height: 52px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  text-align: left;
  color: rgba(68, 68, 68, 0.3);
  border: none;
  box-shadow: inset 0px -2px 0 0 #000000;
}

.filter__textarea {
  box-sizing: border-box;
  min-height: 142px;
  padding: 17px;
  border: 2px solid #000000;
  box-shadow: none;
}
