.header {
  margin-bottom: 20px;
  font-family: "Open Sans", "Aria", sans-serif;
  font-weight: 800;
}

.header__main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #ececec;
}

.header__logo {
  margin-left: 86px;
  display: flex;
  align-items: center;
  height: 79px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__button-menu {
  margin-left: auto;
  margin-right: 1px;
  margin-top: -1px;
  padding: 0;
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;

  &--open {
    background: url("../../img/icon-menu-open.svg") no-repeat 50% 50%;
    border: none;
  }

  &--close {
    background: url("../../img/icon-menu-close.svg") no-repeat 50% 50%;
    border: none;
  }
}

.header__menu {
	margin-bottom: 30px;
}
