.info {
  margin-top: 40px;
  margin-bottom: 45px;
}

.info__container {
  .container-mobile();
}

.info__title {
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: -1px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.info__list {
  .list-style();
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}

.info__item {
  box-sizing: border-box;
  min-width: 260px;
  min-height: 105px;
  margin-bottom: 18px;
  padding-top: 56px;

  &--eco {
    background: url("../img/icon-feature-flower.svg") no-repeat 9px 2px;
  }

  &--price {
    background: url("../img/icon-feature-money.svg") no-repeat 0 4px;
  }

  &--like {
    background: url("../img/icon-feature-heart.svg") no-repeat 9px 8px;
  }

  &--handmade {
    background: url("../img/icon-feature-ball.svg") no-repeat 3px 6px;
  }

  &--country {
    background: url("../img/icon-feature-rocket.svg") no-repeat -5px 6px;
  }

  &--wrapper {
    background: url("../img/icon-feature-gift.svg") no-repeat 2px 5px;
  }
}

@media (min-width: @tablet-width) {
  .info {
    margin-bottom: 28px;
  }

  .info__container {
    .container-tablet();
  }

  .info__title {
    margin: 0;
    margin-left: -4px;
    margin-bottom: 46px;
    font-size: 43px;
    line-height: 50px;
  }

  .info__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 22px;
  }

  .info__item {
    width: 50%;
    margin-bottom: 50px;

    &--eco {
      order: 1;
    }

    &--like {
      order: 5;
    }

    &--price {
      order: 3;
    }

    &--handmade {
      order: 2;
    }

    &--country {
      order: 4;
    }

    &--wrapper {
      order: 6;
    }
  }
}

@media (min-width: @desktop-width) {
  .info {
    margin-top: 124px;
    margin-bottom: 36px;
  }

  .info__container {
    .container-desktop();
  }

  .info__title {
    width: 66.67%;
    margin-top: 0;
    margin-left: 16.2%;
    margin-right: auto;
    font-size: 53px;
    line-height: 57px;
  }

  .info__list {
    width: 66.67%;
    margin: 0 16.66%;
  }

  .info__item {
    width: 50%;
  }
}
