.menu {
  position: relative;
  top: 30px;
  display: none;
  margin-top: -30px;
}

.menu__list {
  .list-style ();
}

.menu__item {
  display: block;
  box-sizing: border-box;
  min-height: 79px;
  border-bottom: 1px solid #ececec;
}

.menu__link {
  display: flex;
  width: 100%;
  height: auto;
  padding: 26px;
  padding-left: 75px;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  text-align: left;
  color: inherit;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
