.production {
  border: 1px solid #ececec;
}

.production__title {
  display: block;
  margin: 0 34px;
  font-family: "Open Sans", "Aria", sans-serif;
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.production__description {
  display: block;
  margin: 0 34px;
  font-family: "Open Sans", "Aria", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #444444;
}

.production__button {
  min-width: 192px;
  margin: 0 34px;
}
