.reviews {
  margin-bottom: 80px;
}

.reviews__button {
  display: flex;
  min-width: 100%;
  margin-bottom: 38px;
  font-size: 0;
}

.review__button {
  display: block;
  box-sizing: border-box;
  width: 50%;
  min-width: 130px;
  height: 50px;
  border: 1px solid #ececec;
  background-color: #ffffff;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--back {
    background: url("../../img/icon-left-arrow.svg") no-repeat 50% 50%;
  }

  &--next {
    background: url("../../img/icon-right-arrow.svg") no-repeat 50% 50%;
  }
}


.review {
  min-width: 255px;
  margin-bottom: 30px;
}

.reviews__title {
	font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.review__text {
	font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.review__author {
  display: block;
  margin-top: 25px;
  margin-bottom: 5px;
	font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.review__email {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 0;
}


