.reviews {
  margin-bottom: 85px;
}

.reviews__container {
  .container-mobile();
}

.reviews__title {
  margin-left: -1px;
  margin-bottom: 25px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.reviews__buttons {
  display: flex;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 39px;
  font-size: 0;
}

.reviews__button-feedback {
  width: 260px;
  margin: 0 auto;
  padding-top: 14px;
  letter-spacing: 0.5px;
}

.reviews__button {
  display: block;
  box-sizing: border-box;
  width: 50%;
  min-width: 130px;
  height: 50px;
  border: 1px solid #ececec;
  background-color: #ffffff;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--back {
    background: url("../../img/icon-left-arrow.svg") no-repeat 50% 50%;
  }

  &--next {
    background: url("../../img/icon-right-arrow.svg") no-repeat 50% 50%;
  }
}

.review {
  margin-bottom: 30px;
}

.review__text {
  margin-bottom: 28px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  
  br {
      display: none;
    }
}

.review__author {
  display: block;
  margin: 0;
  margin-bottom: 2px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #000000;
}

.review__email {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.05px;
  color: #444444;
}

@media (min-width: @tablet-width) {
  
  .reviews {
    margin-bottom: 70px;
    padding-top: 42px;
    background: url("../../img/review@1x.jpg") no-repeat 0 0;	
   }
  
  .reviews__container {
    .container-tablet();
    position: relative;
    min-height: 457px;
  }
  
  .reviews__title {
    margin-left: -4px;
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;
  }
  
  .review {
    width: 650px;
  }
  
  .review__text {
    margin-bottom: 58px;
    font-size: 17px;
  }
  
  .review__author {
    letter-spacing: 0.7px;
  }
  
  .review__email {
    margin-bottom: 0;
  }
  
  .reviews__buttons {
    position: absolute;
    top: 61.5%;
    right: 0;
    width: 175px;
    margin-bottom: 0;
  }
  
  .reviews__button {
    min-width: 80px;
	  border: none;
  }
  
  .reviews__button-feedback {
    position: absolute;
    top: 2px;
    right: 0;
    min-width: 175px;
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  
  .reviews {
    .container-desktop();
    margin-bottom: 163px;
    padding-top: 26px;
    background: url("../../img/review@1x.jpg") no-repeat 0 0;
   }
  
  .reviews__container {
    width: 83.33%;
    margin-left: 16.67%;
  }
  
  .reviews__title {
	  font-size: 53px;
    line-height: 57px;
  }
  
  .review__text {
    width: 770px;
    margin-bottom: 40px;
    
    br {
      display: block;
    }
  }
  
  .review__author {
    letter-spacing: 0.1px;
  }
  
  .reviews__button-feedback {
    top: 9px;
  }
  
  .reviews__buttons {
    position: absolute;
    top: 52%;
  }
}
