.social__item {
  display: inline-block;
  font-size: 0;
  margin-right: 21px;
  
  &:first-child {
    margin-left: 50px;
  }
  
  &:last-child {
    margin-right: 0;
  }
}

.social__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  
  path {
    fill: #000000;
  }
  
  &:hover {
    path {
      fill: #46c1ae;
    }
  }
  
  &:active {
    path {
      fill: rgba(70, 193, 174, 0.3);
    }
  }
}
