.social {
  display: flex;
  justify-content: center;
}


.social__item {
  display: block;
  font-size: 0;
  margin-right: 10px;
}

.social__button {
  display: block;
  width: 40px;
  height: 40px;

  &--instagram {
    background: url("../../img/icon-insta.svg") no-repeat 50% 50%;
  }

  &--fb {
    background: url("../../img/icon-fb.svg") no-repeat 50% 50%;
  }

  &--twitter {
    background: url("../../img/icon-twitter.svg") no-repeat 50% 50%;
  }
}


